@model IEnumerable<ClickNBuy.Models.ProductViewModel>
@{
    ViewBag.Title = "ViewAllProducts";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <title>All Ads/Products - Shopio</title>
    <style>
        .table-responsive::-webkit-scrollbar {
            display: none;
        }

        body {
            font-family: 'Poppins', sans-serif;
        }

        .center-card {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .circle-img {
            width: 70px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
        }

        .center-heading {
            text-align: center;
            margin-top: 20px;
        }

        #navbar-example2 {
            margin-top: 30px;
            box-shadow: rgba(0, 0, 0, 0.03) 0px 10px 50px;
            width: 900px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 8px;
            height: 60px;
        }

        .nav-link {
            color: black;
            font-size: 17px;
        }

            .nav-link:hover {
                color: #F76B6A;
                font-size: 19px;
            }
    </style>
</head>
<br />
<nav id="navbar-example2" class="navbar navbar-light d-flex justify-content-center">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Add_Category")">Add Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("View_Category")">View Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ViewAllProducts")">View All Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("RegisteredUser")">All Registered Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Logout")">Logout</a>
        </li>
    </ul>
</nav>
<div class="center-card" style="border: none;">
    <div class="card container center-table bg-white" style="box-shadow: rgba(17, 12, 46, 0.05) 0px 48px 100px 0px;">
        <div class="container center-heading">
            <h3>All <span style="color:#F76B6A">Products</span></h3>
        </div>
        <hr />
        <div class="table-responsive" style="height: 400px; overflow-y: scroll;">
            <table class="table table-borderless bg-white text-black customtable" style="border-radius:80px;">
                <thead>
                    <tr>
                        <td>Category</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Price</td>
                        <td>Image</td>
                        <td>Advertiser</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                    <tr>
                        <td>@item.cat_name</td>
                        <td>@item.pro_name</td>
                        <td>@item.pro_desc</td>
                        <td>@item.pro_price</td>
                        @if (!string.IsNullOrEmpty(item.pro_image))
                        {
                            var imagePaths = item.pro_image.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                            var firstImagePath = Url.Content(imagePaths[0]);
                            <td><img src="@firstImagePath" height="250" width="250" class="circle-img" /></td>
                        }
                            <td>@item.u_name</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>